<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aspen Project</title>
</head>
<body>
    <h1>All Players</h1>
    <ul style="display: flex; flex-flow: column; gap: 10px ">
        {% for player in players %}
        <li>
            <div style="border: 1px solid black; width: 50%">
                <h2>{{ player.name }}</h2>
            </div>
        </li>
        {% endfor %}
    </ul>
</body>
</html>