<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>Aspen Project</title>
</head>
<body>
    <h1>All Players</h1>
    <ul style="display: flex; flex-flow: column; gap: 10px ">
        {% for player in players %}
        
        <div style="border: 1px solid black; display: flex; width: fit-content">
            <h2 style="margin-right:40px;">{{ player.name }}</h2>
            <button onclick="myFunction({{player.wins}})">See Number of Wins</button>
            
        </div>
        
        {% endfor %}
        <div>
            Select two existing players:
            <input type="text" id="inputName">
            <input type="text" id="inputPass">
            <button onclick="myFunctionPlay()">Play</button>
        </div>
    </ul>


    {% csrf_token %}
    <script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script>
        function myFunction(wins) {
          alert("Lifetime number of wins: "+ wins)
        }
        function myFunctionPlay(){
            var player1 = $("#inputName").val();
            var player2 = $("#inputPass").val();
            var obj = {
                "name1": player1,
                "name2": player2
            } 
            $.ajax({
                method: "PATCH",
                header: {'X-CSRFToken': csrftoken},
                url: 'http://127.0.0.1:8000/playWar/',
                dataType: 'json',
                success: function(result){
                    alert(result)
                    location.reload()
                },
                data: obj
            })
        }
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        
        $.ajaxSetup({
            crossDomain: false, // obviates need for sameOrigin test
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>

</body>
</html>

